<div class="lz-form">
 
  <%= form_with model: post  do |f| %>
 
   <div class="form-row">
    <div class="form-item">
      <%= f.label :title %> 
      <%= f.text_field :title %>
    </div>
   </div>
  
   <div class="form-row">
    <div class="form-item">
     <%= f.label :tag %> 
     <%= f.text_field :tag %>
    </div>
   </div>
   <div class="form-row">
    <div class="form-item">
    <%= f.label :category %> 
    <%= f.text_field :category %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
    <%= f.label :path %> 
    <%= f.text_field :path %>
    </div>
  </div>
  <p  class="form-button">
     <%= f.submit %>
   </p>
 <% end %>
 </div>