 
<%= render "form", post: @post %>
<!-- <form accept-charset="UTF-8" action="/post" method="post" class="lz-form">
    <div style="margin:0;padding:0">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input name="authenticity_token" type="hidden" value="f755bb0ed134b76c432144748a6d4b7a7ddf2b71" />
    </div>

 <div class="form-row">
    <%= label_tag(:title, "标题:") %>
    <%= text_field_tag(:title) %>
   
 </div>

 <div class="form-row">
    <%= label_tag(:tags, "标签:") %>
    <%= text_field_tag(:tags) %>
  
 </div>
 <div class="form-row">
    <%= label_tag(:category, "分类:") %>
    <%= text_field_tag(:category) %>
  
 </div>
 <div class="form-row">
    <%= label_tag(:path, "保存名称:") %>
    <%= text_field_tag(:path) %>
  
 </div>
  <div> -->
   
    <!-- <%= submit_tag("提交", :id=>"button", :class=>"lz-button", :name=>"submit") %> -->
  </div>
  </form>