<%= render(HeaderComponent.new()) do %>
    <% end %>
        <table class="table">
            <thead>
                <tr>
                    <th>标题</th>
                    <th>标签</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <% @post.each do |post| %>
                    <tr>
                        <td>  <%= post.title%> </td>
                        <td>  <%= post.tags%> </td>
                        <td>

                      <%= link_to "编辑", edit_post_path(post),:class=>"lz-link-button"%>
                        </td>
                    </tr>
                    <% end %>
            </tbody>
        </table>


        <%= link_to "New Post" , new_post_path %>..